
@media screen and (max-width: 767px) {
  .pc-menu {
    display: none !important;
  }
  #side-menu {
    display: none !important;
  }

}

@media only screen and (min-width:767px) and (max-width: 1000px) {
  .container {
     width: 100% !important;
  }
}
