<li id="inspiration">
  <%= link_to inspiration_posts_path do %>
    <i class="fa fa-heart" aria-hidden="true"></i> Find inspiration
  <% end %>
</li>

<li id="recipes">
  <%= link_to recipes_posts_path do %>
    <i class="fa fa-glass" aria-hidden="true"></i> Find a recipe
  <% end %>
</li>

<li id="tiugirls">
  <%= link_to tiugirls_posts_path do %>
    <i class="fa fa-users" aria-hidden="true"></i> Find a workout buddy
  <% end %>
</li>
