<li class="mobile-menu">
  <ul>
    <li>
      <%= link_to inspiration_posts_path do %>
        <i class="fa fa-user-circle-o" aria-hidden="true"></i> Get Inspired
      <% end %>
    </li>
    <li>
      <%= link_to recipes_posts_path do %>
        <i class="fa fa-graduation-cap" aria-hidden="true"></i> Find Recipes
      <% end %>
    </li>
    <li>
      <%= link_to tiugirls_posts_path do %>
        <i class="fa fa-users" aria-hidden="true"></i> Find a work out buddy 
      <% end %>
    </li>
    <li>
      <%= link_to messenger_path, class: 'messenger-link' do %>
        <i class="fa fa-envelope" aria-hidden="true"></i> Messages
      <% end %>
    </li>
  </ul>
</li><!-- mobile_menu -->
